#dice{
    transform:translateY(-60vh) ;
}
#C1:checked ~ #dice{
    animation: 2s linear tourne1 forwards; 
}
#C2:checked ~ #dice{
    animation: 2s linear tourne2 forwards; 
}
#C3:checked ~ #dice{
    animation: 2s linear tourne3 forwards; 
}
#C4:checked ~ #dice{
    animation: 2s linear tourne4 forwards; 
}
#C5:checked ~ #dice{
    animation: 2s linear tourne5 forwards; 
}
#C6:checked ~ #dice{
    animation: 2s linear tourne6 forwards; 
}
@keyframes tourne6 {
    from {
        transform:  translateY(-60vh) rotate3d(1,1,1,0deg) translate3d(-50px,-50px,0);
    }
    70% {
        transform: translateY(0px)rotate3d(1,1,0,1800deg) translate3d(-50px,-50px,0);
    }
    to {
        transform:  translateY(0px)rotate3d(1,0,0,360deg)translate3d(-50px,-50px,0);   
    }
} 
@keyframes tourne5 {
    from {
        transform:  translateY(-60vh) rotate3d(1,1,1,0deg)translate3d(-50px,-50px,0);
    }
    70% {
        transform: translateY(0px)rotate3d(1,1,0,1800deg)translate3d(-50px,-50px,0);
    }
    to {
        transform:  translateY(0px)rotate3d(1,0,0,90deg)translate3d(-50px,-50px,0);   
    }
} 
@keyframes tourne4 {
    from {
        transform:  translateY(-60vh) rotate3d(1,1,1,0deg) translate3d(-50px,-50px,0);
    }
    70% {
        transform: translateY(0px)rotate3d(1,1,0,1800deg) translate3d(-50px,-50px,0);
    }
    to {
        transform:  translateY(0px)rotate3d(0,1,0,90deg) translate3d(-50px,-50px,0) ;   
    }
} 
@keyframes tourne3 {
    from {
        transform:  translateY(-60vh) rotate3d(1,1,1,0deg) translate3d(-50px,-50px,0);
    }
    70% {
        transform: translateY(0px)rotate3d(1,1,0,1800deg) translate3d(-50px,-50px,0);
    }
    to {
        transform:  translateY(0px)rotate3d(0,1,0,270deg) translate3d(-50px,-50px,0);   
    }
} 
@keyframes tourne2 {
    from {
        transform:  translateY(-60vh) rotate3d(1,1,1,0deg) translate3d(-50px,-50px,0);
    }
    70% {
        transform: translateY(0px)rotate3d(1,1,0,1800deg) translate3d(-50px,-50px,0);
    }
    to {
        transform:  translateY(0px)rotate3d(1,0,0,270deg) translate3d(-50px,-50px,0);   
    }
} 
@keyframes tourne1 {
    from {
        transform:  translateY(-60vh) rotate3d(1,1,1,0deg) translate3d(-50px,-50px,0);
    }
    70% {
        transform: translateY(0px)rotate3d(1,1,0,1800deg) translate3d(-50px,-50px,0);
    }
    to {
        transform:  translateY(0px)rotate3d(1,0,0,180deg) translate3d(-50px,-50px,0);   
    }
} 