#SQUARE1{
background-color: white
}
#SQUARE2{
background-color: white
}
#SQUARE3{
background-color: white
}
#SQUARE4{
background-color: white
}
#SQUARE5{
background-color: white
}
#SQUARE6{
background-color: white
}
a {
    width  : 10;
    height : 10;
    border-bottom : 50px solid hsla(200, 100%, 44%, 1);
    border-left   : 50px solid transparent;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 51;
    cursor: pointer;
  }