#SQUARE1{
background-color: white
}
#SQUARE2{
background-color: white
}
#SQUARE3{
background-color: white
}
#SQUARE4{
background-color: white
}
#SQUARE5{
background-color: white
}
#SQUARE6{
background-color: white
}