body{
    perspective: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0px;
}
#dice{
    transform-style: preserve-3d ;
    transform: translate3d(-50px,-50px,0);
}
#SQUARE1{
    transform: rotateY(180deg) translateZ(50px);  
}
#SQUARE2{
    transform: rotateX(90deg) translateZ(50px);
}
#SQUARE3{
    transform: rotateY(-270deg) translateZ(50px);
}
#SQUARE4{
    transform: rotateY(270deg) translateZ(50px);
}
#SQUARE5{
    transform: rotateX(-90deg) translateZ(50px);
}
#SQUARE6{
    transform: translateZ(50px);
}

